<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>

<%= link_to 'SET Taxonomy', pages_home_path %>
<br>
<%= link_to 'Timeline', pages_help_path %>

<%= link_to 'Convert csv to json', pages_convertcsv_path %>

